.App {
  text-align: center;
  width: 60%;
  background-color: whitesmoke;
  height: 80vh;
  margin-top: 1%;
}

nav {
  display: flex;
  justify-content: center;

}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;

  

}

nav a:hover {
  font-weight: bold;
}

#pizza-form {
  display: flex;
  flex-direction: column;
  line-height: 2;


}