.App {
  text-align: center;
  width: 60%;
  background-color: whitesmoke;
  margin-top: 1%;
  padding-bottom: 30px;
}

nav {
  display: flex;
  justify-content: center;

}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: black;

  

}

nav a:hover {
  font-weight: bold;
}

#pizza-form {
  display: flex;
  flex-direction: column;
  line-height: 1.5;


}

#pizza-form input {
  margin: 0 1%;
}

#pizza-form select {
  margin: 0 1%;
}

#pizza-form h4 {
  margin: 1%;
}

#pizza-form button {
  margin: 2% 0;
}

.formErrors {
  color: red;
  font-weight: bold;
  
}